/**
 * jQuery.fc.tape demo page
 *
 * @package     jQuery.fc.tape
 * @version     1.0
 * @author      piumosso <inbox@piumosso.ru>
 * @copyright   Future Colors
 */


/**
 * @section     jQuery.fc.tape demo page
 */

body {
    width: 100%;
    overflow-x: hidden;
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background: white url(body.png) 0 0 repeat-x;
}
.g-clear {
    clear: both;
}
strong {
    font-weight: bolder;
}
.wrapper {
    margin: 0 1em;
}


/**
 * @subsection  Header
 */

.header {
    margin: 0 -2em 2em;
    background: rgb(255,0,178);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDBiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjMxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(255,0,178,1) 0%, rgba(226,49,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,178,1)), color-stop(100%,rgba(226,49,0,1)));
    background: -webkit-linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    background: -ms-linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    background: linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00b2', endColorstr='#e23100',GradientType=1 );
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #333;
}
.header__texture {
    height: 40px;
    padding: 0.7em 2em;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.29) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.06)), color-stop(100%,rgba(0,0,0,0.29)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    background: linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f000000', endColorstr='#4a000000',GradientType=0 );
}
.header__logo {
    display: block;
    float: right;
    width: 60px;
    height: 40px;
    background: url(fc.png) 0 0 no-repeat;
}
.header__title {
    margin: 0 3em 0 0;
    float: left;
    line-height: 40px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 34px;
    font-family: Georgia;
    color: white;
}


/**
 * @subsection  Sample block
 */

.section {
    margin: 1em 0 2em;
}
.section_right {
    margin: 0 0 2em 3em;
    float: right;
}
.section__header {
    padding-bottom: 0.5em;
}
.section__title {
    display: inline-block;
    padding: 0.1em 0.5em;
    line-height: 1.2;
    font-size: 22px;
    font-family: Georgia;
    background: #222;
    color: white;
    border: 1px solid black;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
}
.section__content {
    max-width: 1000px;
    margin: 1em 0;
    line-height: 1.3;
    font-size: 16px;
}
.section__code {
    width: 50%;
    float: left;
}
.section__sample {
    width: 40%;
    float: right;
}


/**
 * @subsection  Code sample
 */

.code {
    margin: 0.5em 0 0.5em 1em;
    line-height: 1.4;
    font-size: 12px;
    font-family: monospace;
    border: 1px solid #bbb;
    -webkit-border-radius: 0.7em;
    -moz-border-radius: 0.7em;
    -o-border-radius: 0.7em;
    border-radius: 0.7em;
    overflow: hidden;
}
.code_narrow {
    display: inline-block;
}
.code code {
    padding: 0.7em 1.5em;
}
.code b {
    font-weight: bolder;
}


/**
 * @subsection  Tape wrapper
 */

.tape-wrapper {
    display: inline-block;
    padding-left: 32px;
    background: url(tape-left.png) 0 0 repeat-y;
}
.tape-wrapper__inner {
    padding-right: 32px;
    background: url(tape-right.png) 100% 0 repeat-y;
}
.tape-wrapper__content {
    padding-top: 10px;
    background: black;
}
.tape-wrapper__run {
    padding: 5px 0 10px;
    text-align: center;
}
.tape-wraper__run-button {
    font-size: 14px;
}
.tape__label {
    font-size: 14px;
    color: white;
}
.sample__rotation-handler {
    height: 20px;
    margin: 10px 0px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    background: rgb(186,190,196);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JhYmVjNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q5ZGRlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiYWJlYzQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(186,190,196,1) 0%, rgba(217,221,224,1) 50%, rgba(186,190,196,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(186,190,196,1)), color-stop(50%,rgba(217,221,224,1)), color-stop(100%,rgba(186,190,196,1)));
    background: -webkit-linear-gradient(left,  rgba(186,190,196,1) 0%,rgba(217,221,224,1) 50%,rgba(186,190,196,1) 100%);
    background: -o-linear-gradient(left,  rgba(186,190,196,1) 0%,rgba(217,221,224,1) 50%,rgba(186,190,196,1) 100%);
    background: -ms-linear-gradient(left,  rgba(186,190,196,1) 0%,rgba(217,221,224,1) 50%,rgba(186,190,196,1) 100%);
    background: linear-gradient(left,  rgba(186,190,196,1) 0%,rgba(217,221,224,1) 50%,rgba(186,190,196,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#babec4', endColorstr='#babec4',GradientType=1 );
    border: 3px double rgb(150, 150, 160);
}


/**
 * @subsection  Tape
 */

.tape {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}
.tape_ipad {
    width: 330px;
    height: 220px;
    background: url(ipad.png) 0px 0px no-repeat;
}
.tape_bonpari {
    width: 350px;
    height: 211px;
    background: url(bonpari.jpg) 0px 0px no-repeat;
}
.tape_rotate {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: move;
}


/**
 * @section     Download
 */

.download {
    display: inline-block;
}
.download__header {
    display: block;
    margin: 0 5px;
    text-align: left;
    line-height: 2;
    font-size: 24px;
    font-family: Georgia;
    font-weight: bolder;
}
.download__version {
    display: block;
    margin: 0 5px 15px;
    padding: 5px 20px 2px;
    text-decoration: none;
    text-align: left;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid rgb(5,100,0);
    background: rgb(5,153,0);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1OTkwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMjU2MGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(5,153,0,1) 0%, rgba(2,86,12,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(5,153,0,1)), color-stop(100%,rgba(2,86,12,1)));
    background: -webkit-linear-gradient(top,  rgba(5,153,0,1) 0%,rgba(2,86,12,1) 100%);
    background: -o-linear-gradient(top,  rgba(5,153,0,1) 0%,rgba(2,86,12,1) 100%);
    background: -ms-linear-gradient(top,  rgba(5,153,0,1) 0%,rgba(2,86,12,1) 100%);
    background: linear-gradient(top,  rgba(5,153,0,1) 0%,rgba(2,86,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#059900', endColorstr='#02560c',GradientType=0 );
}
.download__version-wrapper {
    background: url(download.png) 0 30% no-repeat;
    min-height: 48px;
    padding-left: 65px;
}
.download__version-header {
    display: block;
    line-height: 1.2;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    font-size: 26px;
    color: white;
}
.download__version-size {
    display: block;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    color: white;
}
