/**
 * jQuery.fc.tape demo page
 *
 * @package     jQuery.fc.tape
 * @version     1.0
 * @author      piumosso <inbox@piumosso.ru>
 * @copyright   Future Colors
 */


/**
 * @section     jQuery.fc.tape demo page
 */

body {
    width: 100%;
    overflow-x: hidden;
    line-height: 1.6;
    font-family: Helvetica, Arial, sans-serif;
    color: #333;
    background: white url(body.png) 0 0 repeat-x;
}
.g-clear {
    clear: both;
}
strong {
    font-weight: bolder;
}
.wrapper {
    margin: 0 1em;
}


/**
 * @subsection  Header
 */

.header {
    margin: 0 -2em 2em;
    background: rgb(255,0,178);
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDBiMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMjMxMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(left,  rgba(255,0,178,1) 0%, rgba(226,49,0,1) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,0,178,1)), color-stop(100%,rgba(226,49,0,1)));
    background: -webkit-linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    background: -o-linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    background: -ms-linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    background: linear-gradient(left,  rgba(255,0,178,1) 0%,rgba(226,49,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00b2', endColorstr='#e23100',GradientType=1 );
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #333;
}
.header__texture {
    height: 40px;
    padding: 0.7em 2em;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjA2Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(0,0,0,0.06) 0%, rgba(0,0,0,0.29) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.06)), color-stop(100%,rgba(0,0,0,0.29)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    background: linear-gradient(top,  rgba(0,0,0,0.06) 0%,rgba(0,0,0,0.29) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f000000', endColorstr='#4a000000',GradientType=0 );
}
.header__logo {
    display: block;
    float: right;
    width: 60px;
    height: 40px;
    background: url(fc.png) 0 0 no-repeat;
}
.header__title {
    margin: 0 3em 0 0;
    float: left;
    line-height: 40px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    font-size: 34px;
    font-family: Georgia;
    color: white;
}


/**
 * @subsection  Sample block
 */

.section {
    margin: 1em 0;
}
.section__header {
    padding-bottom: 0.5em;
}
.section__title {
    display: inline-block;
    padding: 0.1em 0.5em;
    line-height: 1.2;
    font-size: 22px;
    font-family: Georgia;
    background: #222;
    color: white;
    border: 1px solid black;
    -webkit-border-radius: 0.3em;
    -moz-border-radius: 0.3em;
    -o-border-radius: 0.3em;
    border-radius: 0.3em;
}
.section__content {
    margin: 8px 0;
    font-size: 13px;
}
.section__code {
    width: 50%;
    float: left;
}
.section__sample {
    width: 40%;
    float: right;
}


/**
 * @subsection  Code sample
 */

.b-code {
    line-height: 16px;
    font-size: 13px;
    font-family: monospace;
}
pre code {
    background: none;
    padding: 0;
}
pre .js .string {
    color: #009a04;
}


/**
 * @subsection  Tape
 */

.tape {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 320px;
    height: 240px;
    z-index: 1;
}
.tape_ipad {
    background: url(ipad.png) 0px 0px no-repeat;
}
.tape_bonpari {
    background: url(bonpari.jpg) 0px 0px no-repeat;
}
.tape-wrapper {
    position: relative;
    width: 320px;
    height: 300px;
    padding: 9px 18px 0 18px;
    background: url(tape.png) 0 0 no-repeat;
}
.tape-wrapper__mask {
    position: absolute;
    top: 9px;
    left: 18px;
    width: 320px;
    height: 240px;
    background: url(tape.png) -18px -9px no-repeat;
    z-index: 2;
}
.tape-wrapper__run {
    text-align: center;
    padding-top: 255px;
}
.tape-wraper__run-button {
    font-size: 14px;
}
.tape__label {
    font-size: 14px;
    color: white;
}
.sample__rotation-handler {
    height: 30px;
    margin: 10px 0px;
    line-height: 30px;
    text-align: center;
    font-size: 12px;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    background: #9b9;
    cursor: pointer;
}

